<div class="post-container" data-price="{{price}}" data-condition="{{condition}}">
    <div class="post-content">
        <div class="book-image-container">
            <img src="{{imgURL}}">
        </div>
        <div class="book-info-container">
            <a href="#"></a> <span class="book-price">${{price}}</span>
            <span class="book-condition">{{condition}}</span>
        </div>
    </div>
</div>