<main class="content-page7">
    <div class="left-side-container">
        <div class="image-container">
            <img src={{imgSource}} alt={{bookTitle}}>
        </div>
        <div class="ISBN-container">
            <p class="ISBN">ISBN: {{ISBN}}</p>
        </div>
    </div>

    <div class="right-side-container">
        <div class="book-title-container">
            <div class="book-title-text">
                {{bookTitle}}
            </div>
        </div>

        <div class="book-author">
            By {{bookAuthor}}
        </div>

        <div class="book-price">
            ${{bookPrice}}
        </div>

        <div class="book-condition">
            {{bookCondition}}
        </div>

        <div class="book-seller">
            <div class="book-seller-meetup">
                Meetup preference:
                <div class="book-seller-meetup-preference-input">
                    {{meetPreference}}
                </div>
            </div>

            <div class="book-seller-contact">
                <div class="book-seller-email">
                    {{contactEmail}}
                </div>
                <div class="book-seller-phone">
                    {{contactPhone}}
                </div>
            </div>
        </div>

        <div class="book-description">
            Description
            <div class="book-description-box">
                {{userDescription}}
            </div>
        </div>
    </div>
</main>