<div class="post" data-isbn={{id}}>
  <div class="post-info">
    <div class="book-cover">
      <img src={{attributes.coverImageUrl}} alt="">
    </div>
    <div class="book-info">
      <a href="#">
        <p class="title">Title: {{attributes.title}}</p>
      </a>
      <p>Edition: {{attributes.edition}}</p>
      <p>Author: {{attributes.author}}</p>
      <p>ISBN: {{id}}</p>
    </div>
  </div>
  <div id="sell-button">
    <input type="button" value="Sell This Book" class="btn primary-color sell-btn">
  </div>
</div>