<div class="post-container" data-price="{{price}}" data-condition="{{condition}}" data-postID="{{count}}">
  <div class=" post-content">
    <div class="book-image-container">
      <img src="{{imgURL}}">
    </div>
    <div class="book-info-container">
      <div class="book-price">
        <a href="#" class="price">
          Price: ${{price}}
        </a>
      </div>
      <div class="book-condition">Condition: {{condition}}</div>
    </div>
  </div>
</div>