<div class="content">
  <div class="course-name-container">
    {{!-- ADD COURSE NAME FIELD  --}}
    <h2 id="course-name">{{courseName}}</h2>
  </div>

  <form class="create-info">
    <div class="create-post-container">
      <div class="create-post-label">
        <label for="create-title">Title</label>
      </div>

      <div class="create-post-element">
        <label name="title-text" id="title-text" class="create-input">{{title}}</label>
      </div>
    </div>

    <div class="create-post-container">
      <label for="create-author" class="create-post-label">Author</label>
      <div class="create-post-element">
        <label name="author-text" id="author-text" class="create-input">{{author}}</label>
        {{!-- <input type="text" name="author-text" id="author-text" class="create-input"> --}}
      </div>
    </div>
    <div class="create-post-container">
      {{!-- ADD COURSE ISBN FIELD --}}
      <label for="create-isbn" class="create-post-label">ISBN</label>
      <div class="create-post-element">
        <label name="isbn-text" id="isbn-text" class="create-input">{{isbn}}</label>
      </div>
    </div>

    <div class="create-post-container">
      <label for="create-condition" class="create-post-label">Condition</label>
      <div class="create-post-element">
        <select id="create-condition" class="create-input" name="create-condition">
          <option selected value=""></option>
          <option>New</option>
          <option>Excellent</option>
          <option>Good</option>
          <option>Fair</option>
          <option>Poor</option>
        </select>
      </div>
    </div>

    <div class="create-post-container">
      <label for="create-price" class="create-post-label">Price</label>
      <div class="create-post-element">
        <input type="text" name="price-text" id="price-text" class="create-input">
      </div>
    </div>

    <div class="create-post-container">
      <label for="create-meet" class="create-post-label">Meetup Info</label>
      <div class="create-post-element">
        <input type="text" name="meet-text" id="meet-text" class="create-input">
      </div>
    </div>

    <div class="create-post-container">
      <label for="create-description" class="create-post-label">Description</label>
      <div class="create-post-element">
        <input type="text" name="description-text" id="description-text" class="create-input">
      </div>
    </div>

    <div class="create-post-container">
      <label for="create-email" class="create-post-label">Email</label>
      <div class="create-post-element">
        <input type="text" name="description-text" id="email-text" class="create-input">
      </div>
    </div>


    <div class="create-post-container">
      <label for="create-description" class="create-post-label">Phone</label>
      <div class="create-post-element">
        <input type="text" name="phone-text" id="phone-text" class="create-input">
      </div>
    </div>
    <div class="create-post-container">
      {{!-- ADD COURSE ISBN FIELD --}}
      <label for="create-url" class="create-post-label">Image</label>
      <div class="create-post-element">
        <label name="url-text" id="url-text" class="create-input">{{imgURL}}</label>
      </div>
    </div>
  </form>
</div>

<div class="button-group">
  <button type="button" id="create-back" class="btn primary-color">Go Back</button>
  <button type="button" id="create-accept" class="btn primary-color">Create</button>
</div>